div.message-box {
  position: absolute;
  margin: auto;
  z-index: 999;
  display: none;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  top: 150px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: aliceblue;
  border: 1px solid black;

}

div.message-box.visible {
  display: block;
}

button.new-game {
  position: absolute;
  margin: auto;
  margin-left: auto;
  left: 50%;
  margin-left: -55px;
  width: 110px;
  top: 250px;
  z-index: 1000;
  background: white;
  border: 2px solid #000;
  padding: 5px;
  cursor: pointer;
  transition: box-shadow 0.1s ease;
}

button.new-game:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}
