body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.board {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: teal;
  margin: auto;
}

div.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.cell {
  height: 100%;
  width: 100%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

div.cell:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

div.cell.white {
  background-color: rgba(255, 255, 255, 0.5);
}


div.cell.black {
  background-color: rgba(0, 0, 0, 0.5);
}
